#!/usr/bin/make -f

export DH_VERBOSE=1

debian_cflags:=$(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
debian_ldflags:=$(shell dpkg-buildflags --get LDFLAGS)

# export necessary perl hardenging flags
# see: src/http/modules/perl/Makefile.PL
DEBIAN_NGINX_PERL_LDFLAGS:= $(debian_ldflags)
export DEBIAN_NGINX_PERL_LDFLAGS
export TEST_NGINX_DSO=1

MODULESDIR = $(CURDIR)/debian/modules

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
endif



WITH_SPDY := $(shell printf "Source: tengine\nBuild-Depends: libssl-dev (>= 1.0.1)\n" | \
	dpkg-checkbuilddeps - >/dev/null 2>&1 && \
	echo "--with-http_spdy_module")

%:
	dh $@

override_dh_auto_configure: configure_debug

override_dh_strip:
	dh_strip -Xdebug

override_dh_auto_build:
	dh_auto_build
	mv objs/nginx objs/nginx.debug
	./configure \
		--prefix=/usr/share/nginx \
		--conf-path=/etc/nginx/nginx.conf \
		--sbin-path=/usr/sbin \
		--includedir=/usr/include \
		--error-log-path=/var/log/nginx/error.log \
		--http-log-path=/var/log/nginx/access.log \
		--pid-path=/run/nginx.pid \
		--lock-path=/var/lock/nginx.lock \
		--http-client-body-temp-path=/var/lib/nginx/client_temp \
		--http-proxy-temp-path=/var/lib/nginx/proxy_temp \
		--http-fastcgi-temp-path=/var/lib/nginx/fastcgi_temp \
		--http-uwsgi-temp-path=/var/lib/nginx/uwsgi_temp \
		--http-scgi-temp-path=/var/lib/nginx/scgi_temp \
		--dso-path=/usr/lib/nginx/modules \
		--dso-tool-path=/usr/lib/nginx \
		--enable-mods-shared=all \
		--with-jemalloc \
		--with-http_ssl_module\
		--with-http_realip_module\
		--with-http_addition_module\
		--with-http_sub_module\
		--with-http_dav_module\
		--with-http_flv_module\
		--with-http_mp4_module\
		--with-http_gunzip_module\
		--with-http_gzip_static_module \
		--with-http_random_index_module\
		--with-http_secure_link_module\
		--with-http_stub_status_module\
		--with-mail\
		--with-mail_ssl_module\
		--with-file-aio \
		--with-pcre-jit \
		--with-http_lua_module\
		$(WITH_SPDY) \
		--with-cc-opt="$(debian_cflags)" \
		--with-ld-opt="$(debian_ldflags)" \
		--with-ipv6 \
		--enable-mods-shared=all \
		--with-http_addition_module=shared \
		--with-http_xslt_module=shared \
		--with-http_image_filter_module=shared \
		--with-http_geoip_module=shared \
		--with-http_sub_module=shared \
		--with-http_flv_module=shared \
		--with-http_slice_module=shared \
		--with-http_mp4_module=shared \
		--with-http_concat_module=shared \
		--with-http_random_index_module=shared \
		--with-http_secure_link_module=shared \
		--with-http_sysguard_module=shared \
		--with-http_charset_filter_module=shared \
		--with-http_userid_filter_module=shared \
		--with-http_footer_filter_module=shared \
		--with-http_trim_filter_module=shared \
		--with-http_access_module=shared \
		--with-http_autoindex_module=shared \
		--with-http_map_module=shared \
		--with-http_split_clients_module=shared \
		--with-http_referer_module=shared \
		--with-http_rewrite_module=shared \
		--with-http_fastcgi_module=shared \
		--with-http_uwsgi_module=shared \
		--with-http_scgi_module=shared \
		--with-http_memcached_module=shared \
		--with-http_limit_conn_module=shared \
		--with-http_limit_req_module=shared \
		--with-http_empty_gif_module=shared \
		--with-http_browser_module=shared \
		--with-http_user_agent_module=shared \
		--with-http_upstream_ip_hash_module=shared \
		--with-http_upstream_least_conn_module=shared \
		--with-http_upstream_session_sticky_module=shared \
		--with-http_reqstat_module=shared \
		--with-http_lua_module=shared \
		--add-module=$(MODULESDIR)/nginx-cache-purge \
		--add-module=$(MODULESDIR)/nginx-auth-pam \
		--add-module=$(MODULESDIR)/nginx-echo
	dh_auto_build

configure_debug:
	./configure \
		--prefix=/usr/share/nginx \
		--conf-path=/etc/nginx/nginx.conf \
		--sbin-path=/usr/sbin \
		--includedir=/usr/include \
		--error-log-path=/var/log/nginx/error.log \
		--http-log-path=/var/log/nginx/access.log \
		--pid-path=/run/nginx.pid \
		--lock-path=/var/lock/nginx.lock \
		--http-client-body-temp-path=/var/lib/nginx/client_temp \
		--http-proxy-temp-path=/var/lib/nginx/proxy_temp \
		--http-fastcgi-temp-path=/var/lib/nginx/fastcgi_temp \
		--http-uwsgi-temp-path=/var/lib/nginx/uwsgi_temp \
		--http-scgi-temp-path=/var/lib/nginx/scgi_temp \
		--dso-path=/usr/lib/nginx/modules \
		--dso-tool-path=/usr/lib/nginx \
		--enable-mods-shared=all \
		--with-jemalloc \
		--with-http_ssl_module\
		--with-http_realip_module\
		--with-http_addition_module\
		--with-http_sub_module\
		--with-http_dav_module\
		--with-http_flv_module\
		--with-http_mp4_module\
		--with-http_gunzip_module\
		--with-http_gzip_static_module\
		--with-http_random_index_module\
		--with-http_secure_link_module\
		--with-http_stub_status_module\
		--with-mail\
		--with-mail_ssl_module\
		--with-file-aio \
		--with-pcre-jit \
		--with-http_lua_module\
		$(WITH_SPDY) \
		--with-cc-opt="$(debian_cflags)" \
		--with-ld-opt="$(debian_ldflags)" \
		--with-ipv6 \
		--with-debug \
		--enable-mods-shared=all \
		--with-http_addition_module=shared \
		--with-http_xslt_module=shared \
		--with-http_image_filter_module=shared \
		--with-http_geoip_module=shared \
		--with-http_sub_module=shared \
		--with-http_flv_module=shared \
		--with-http_slice_module=shared \
		--with-http_mp4_module=shared \
		--with-http_concat_module=shared \
		--with-http_random_index_module=shared \
		--with-http_secure_link_module=shared \
		--with-http_sysguard_module=shared \
		--with-http_charset_filter_module=shared \
		--with-http_userid_filter_module=shared \
		--with-http_footer_filter_module=shared \
		--with-http_trim_filter_module=shared \
		--with-http_access_module=shared \
		--with-http_autoindex_module=shared \
		--with-http_map_module=shared \
		--with-http_split_clients_module=shared \
		--with-http_referer_module=shared \
		--with-http_rewrite_module=shared \
		--with-http_fastcgi_module=shared \
		--with-http_uwsgi_module=shared \
		--with-http_scgi_module=shared \
		--with-http_memcached_module=shared \
		--with-http_limit_conn_module=shared \
		--with-http_limit_req_module=shared \
		--with-http_empty_gif_module=shared \
		--with-http_browser_module=shared \
		--with-http_user_agent_module=shared \
		--with-http_upstream_ip_hash_module=shared \
		--with-http_upstream_least_conn_module=shared \
		--with-http_upstream_session_sticky_module=shared \
		--with-http_reqstat_module=shared \
		--with-http_lua_module=shared \
		--add-module=$(MODULESDIR)/nginx-cache-purge \
		--add-module=$(MODULESDIR)/nginx-auth-pam \
		--add-module=$(MODULESDIR)/nginx-echo
	dh_auto_build

override_dh_installinit:
	dh_installinit --no-restart-on-upgrade --no-start --name=nginx

override_dh_systemd_enable:
	dh_systemd_enable --name=nginx

override_dh_installlogrotate:
	dh_installlogrotate --package nginx-common --name=nginx

override_dh_auto_install:
	dh_auto_install
	chmod a+rx debian/tengine/usr/lib/nginx/dso_tool

override_dh_auto_test:
	mkdir -p debian/tengine/var/lib/nginx/client_temp
	mkdir -p debian/tengine/var/log/nginx
	touch debian/tengine/var/log/nginx/error.log
	touch debian/tengine/var/log/nginx/access.log
	dh_auto_test

